venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

# Backend
backend/static/meta/
backend/static/audio/
backend/static/meta/umap_model.joblib
backend/static/meta/builtin.json
backend/static/meta/umap_model.joblib

# Database
*.db

# macOS
.DS_Store

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Type checking / linting
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Audio samples
UK_Garage_Samples/
Kenny Beats - D.O.T.S Drumkit/
*.json
uploads/